<div ng-controller="GameController" class="container">
  <div class="row" style="margin-top: 5%">
      <h4 ng-show="!gameEnded">{{timeRemaining?timeRemaining:''}} {{timeRemaining?'seconds remaining to vote for the next word':' '}}</h4>
  </div>
  <div class="row" style="margin-top: 10%">
      <h1>{{sentence}}<span id="next-word" ng-class="{'green':wordForm.nextWordTextbox.$valid,'pink':!wordForm.nextWordTextbox.$valid}">{{nextWordTextbox}}</span></h1>
  </div>

  <div id="form" class="row" style="margin-top: 10%" ng-show="!wordSubmitted && !gameEnded">
      <form name="wordForm" ng-submit="wordForm.$valid && submitWord(nextWordTextbox)">
        <input class="u-full-width" name="nextWordTextbox" type="text" placeholder="Enter a word" ng-model="nextWordTextbox" required ng-pattern="/()(^\s*\S+\s*$)/" id="nextWordTextbox">
        <div class="row message" ng-class="{'pink':!wordForm.nextWordTextbox.$valid}" ng-show="!wordForm.nextWordTextbox.$valid && !wordForm.nextWordTextbox.$pristine">
          Words can only contain letters and numbers. No whitespace or special characters.
        </div>
      </form>
  </div>

  <div class="row message green" ng-show="wordSubmitted">
    Your word has been submitted! Wait for the next round to begin to enter the next word.
  </div>

  <div class="row message pink" ng-show="gameEnded">
    This game has ended.
  </div>

 <div id="tags" class="row" style="margin-top: 10%" ng-show="!gameEnded">
  <span ng:repeat="(index, value) in words">
      <span class="tag" style="font-size: {{value.size}}em"><a href="" ng-click="submitWord(value.word)">{{value.word}}</a></span>
  </span>
 </div>
</div>