<div ng-controller="HomeController" class="container">
    <div class="row header" style="margin-top: 5%;">
      <div class="one-half column"><h3>SENTENCIFY</h3></div>
      <div class="one-half column" style="text-align:right;padding-top:2%;">
        <a href="" class="header-link" ng-click="createGame()">Create a new sentence</a>
      </div>
    </div>
    <div class="row sentence-list" style="margin-top:10%; margin-bottom:0px;">
      <a href="" class="subtle"ng-click="flipList()">{{listActiveSentences? 'Show inactive games': 'Show active games'}}</a>

      <div class="sentence-row" ng:repeat="(index, value) in sentenceDetailsList">
        <a ng-href="/game/{{value.sentence._id}}">
          <div class="row">
            <h2>{{value.sentence.text?value.sentence.text:'[first word being picked]'}}</h2>
          <p ng-show="{{value.secondsLeft > 0}}">Next word is picked in {{value.secondsLeft}} seconds</p>
          </div>
        </a>
      
      </div>
    </div>
  </div>