body {
  background-color:#fdfdfd;
}
h1 {
  font-size:7em;
}
h1, h2, h3, h4 {
  font-family: Lora;
}
.tag a {
  font-family: Lora;
  text-decoration: none;
  margin:0.1em;
  color:#333;
}
.tag a:hover {
  color:#333;
  color:#1EAEDB;
}
.message {
  padding:10px;
}
.sentence-row {
  padding:1em;
  margin-top:5%;  
  border-bottom: solid 1px #dddddd;
}
.sentence-row:hover {
}
.sentence-row a {
  text-decoration: none;
  color:black;
}
.sentence-row:hover a {
  color:#1EAEDB;
}
.pink {
  background-color: #ffcccc;
}
.green {
  background-color: #b3ffda;
}