body {
  background-color:#fdfdfd;
}
h1 {
  font-size:7em;
}
h1, h2, h3, h4 {
  font-family: Lora;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.header {
  border-bottom: solid 1px #bbb;
}
a.header-link {
  font-family: Lora;
  text-decoration: none;
  color:#444;
  font-size:1em;
  font-weight:400;
}
.subtle {
  font-family: Lora;
  text-decoration: none;
  color:#888;
  font-size:1em;
  font-weight:400;
}
.subtle:hover {
  text-decoration: underline;
}
span.subtle {
  margin-left:5px;
}
.tag a {
  font-family: Lora;
  text-decoration: none;
  margin:0.1em;
  color:#333;
}
.tag a:hover {
  color:#333;
  color:#1EAEDB;
}
.message {
  padding:10px;
}
.sentence-row {
  padding:1em;
  margin-bottom:5%;  
  border-bottom: solid 1px #dddddd;
}
.sentence-row:hover {
}
.sentence-row a {
  text-decoration: none;
  color:black;
}
.sentence-row:hover a {
  color:#1EAEDB;
}
.pink {
  background-color: #ffcccc;
}
.green {
  background-color: #b3ffda;
}
.blue {
  background-color: #ccf5ff;
}